.DS_Store
.Rproj.user/*
.gitignore
.Rproj.user/A8304446/sdb/per/t/1BB5D9E5
.Rproj.user/A8304446/sdb/per/t/5A15F8AF
.Rproj.user/A8304446/sdb/per/t/8ADED92F
.Rproj.user/A8304446/sdb/per/t/93C78861
.Rproj.user/A8304446/sdb/per/t/C1C98387
.Rproj.user/A8304446/sdb/prop/INDEX
